body
{
    font-family: 'KoHo', sans-serif;
    color: #d5ddde;
    margin: 0 10%;
}

.delayButton
{
    font-family: 'KoHo', sans-serif;
    padding: 10px;
    color: #d5ddde;
}

.blackgreen
{
    background-color: #1b2726;
}

.green
{
    background-color: #3c5148;
}

.lightgreen
{
    background-color: #6b8e4e;
}

.grey
{
    background-color: #b2c5b3;
}

.white
{
    background-color: #d5ddde;
}

.mb10
{
    margin-bottom: 10px;
}

.mt10
{
    margin-top: 10px;
}

#titleSize
{
    font-size: 70px;
}

.bigSize
{
    font-size: 40px;
}

.normalSize
{
    font-size: 20px;
}

.textCenter
{
    text-align: center;
}

.pl15
{
    padding-left: 15px;
}

.pt5
{
    padding-top: 5px;
}

.pb5
{
    padding-bottom: 5px;
}

.consolasText
{
    font-family: Monaco,Consolas,monospace;
}

.nomargin
{
    margin: 0;
    word-wrap: break-word;
}
#forkongithub a{background:#1b2726;color:#d5ddde;text-decoration:none;font-family:arial,sans-serif;text-align:center;font-weight:bold;padding:5px 40px;font-size:1rem;line-height:2rem;position:relative;transition:0.5s;}#forkongithub a:hover{background:#6b8e4e;color:#d5ddde;}#forkongithub a::before,#forkongithub a::after{content:"";width:100%;display:block;position:absolute;top:1px;left:0;height:1px;background:#d5ddde;}#forkongithub a::after{bottom:1px;top:auto;}@media screen and (min-width:300px){#forkongithub{position:absolute;display:block;top:0;right:0;width:200px;overflow:hidden;height:200px;z-index:9999;}#forkongithub a{width:200px;position:absolute;top:60px;right:-60px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);box-shadow:4px 4px 10px rgba(0,0,0,0.8);}}